hearder { 
   background: #BBBBBB;
  
}

.caixa { 
   position: relative;
   width: 940px;
}

nav {
   position: absolute
   top: 110px;
   right: 0;
}

nav ul {
    position: absolute;
    top: 0;
    right: 0;
}

}

nav li {
   display: inline;
   margir: 0 0 0 15px;
}

nav a {a
   text-transform: uppercase; 
   color: #000000; 
   font-weight: bold ;
   font-size: 22px;
   text-decoratin: none;
}

