hearder { 
   background: #BBBBBB;
}

nav li {
   display: inline;
   margir: 0 0 0 15px;
}

nav a {a
   text-transform: uppercase; 
   color: #000000; 
   font-weight: bold ;
   font-size: 22px;
   text-decoratin: none;
}

